@font-face {
  font-family: "zantrokeregular";
  src:
    url("fonts/zantroke-webfont.woff") format("woff"),
    src url("fonts/zantroke-webfont.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ciclefina";
  src:
    url("fonts/cicle_fina-webfont.woff") format("woff"),
    src url("fonts/cicle_fina-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  word-spacing: 1.6rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 100;
  font-style: normal;
}
