/* .google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
} */

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header,
body {
  letter-spacing: 0.1rem;
}

header {
  border-bottom: 5px solid #aa6666;
  font-family: "Google Sans";
  text-align: center;
  font-variation-settings: "GRAD" 0;
  font-size: 1.5rem;
}

p {
  font-family: "Rubik";
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

h2 + p {
  text-indent: 2rem;
}

section > h2 {
  font-family: "Google Sans";
  font-size: 1.3rem;
  margin: 0 auto;
}

/* styling links  */

a {
  outline-color: transparent;
}

a:link {
  color: #f80505;
}

a:visited {
  color: #ea0707;
}

a:focus,
a:hover {
  text-decoration: none;
  background: #ed9e9e;
}

a:active {
  background: #be5151;
  color: #e52c38;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.25em;

  background-size: 100%;
  background-image: url("picture.png");
}

/* list Styling */

ul li {
  line-height: 1.5;
  margin: 0 auto;
}

/* Navigation menu styling */

nav ul {
  list-style: none;
  text-decoration: none;
  text-align: center;
}

nav a {
  display: block;
  padding: 24px 42px;
  background-color: #e0dada;
  border-radius: 8px;
  margin-bottom: 8px;
  font-family: "Google Sans";
  text-transform: uppercase;
  border: 2px solid #100000;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
  font-family: "Google Sans";
}
